html
{
    scroll-behavior: smooth;
}
*
{
    font-family: 'aktiv-grotesk-std', sans-serif;

    box-sizing: border-box;
    margin: 0;

    color: #f3f3f3;
}

body
{
    position: relative;

    width: 100%;
    width: 100vw;
    height: 100%;

    background: #111;
}

.container1
{
    display: grid;

    height: 100vh; /* You must set a specified height */

    text-align: center ;

    color: white;
    background-image: url('images/studioNew.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;

    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-area: 1 / 1 / 4 / 2 ; */
}

.container2
{
    display: grid;

    height: 100vh;

    text-align: center ;

    background-image: url('images/02.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-size: 100%;
}

.container3
{
    display: grid;

    background-image: url('images/studioNew.png');

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.img2
{
    width: 100%;
    max-width: 1800px;
    height: 100vh;
}

.img3
{
    width: 100%;
    height: 100vh;

    grid-area: 1 / 1 / 9 / 5;
}

.img4
{
    width: 100%;
    height: 100vh;

    grid-area: 1 / 5/ 9 / 9;
}

.rotate
{
    grid-area: 1 / 1 / 7 / 3 ;
    writing-mode: tb-rl;
}

.centered
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    align-self: center;
}

.limited
{
    font-size: 16px;
}

.head
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}

.head h1
{
    font-size: 3.5vw;
    font-weight: lighter;
}
.join
{
    font-size: 3vw;
}

.email
{
    display: flex;

    margin-top: 20px;

    justify-content: center;
}

.enter
{
    width: 208px;
    height: 40px;
    margin-right: 16px;

    border: 1px solid #f3f3f3;
    background-color: #111;
}

.emailWhite
{
    font-size: 16px;
}

.emailRed
{
    font-size: 14px;

    visibility: hidden;

    color: #c22626;
}

.centered .button1
{
    width: 83px;

    text-align: center;

    border: 1px solid white;
    background-color: white;

    grid-area: 6 / 4 / 7 / 5;
}

.centered .button1 a
{
    width: 80px;

    text-decoration: none;

    color: black;
}
.logo
{
    width: 50px;
    height: 64px;
}
.logo-img
{
    position: fixed;
    top: 15px;

    width: 50px;
    height: 64px;
    margin: 24px;

    grid-column-start: 1;
    grid-row-start: 1;
}


@media(max-width:600px)
{
    .container1
    {
        display: flex;
        flex-direction: column;

        height: 100vh;

        background-image: url('mobil-images/01.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-size: 100%;

        justify-content: center;
    }
    .container2
    {
        display: flex;
        flex-direction: column;

        height: 100vh;

        background-image: url('mobil-images/02.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-size: 100%;

        justify-content: center;
    }
    .container3
    {
        display: flex;
        flex-direction: column;

        height: 100vh;

        background-image: url('mobil-images/03.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-size: 100%;

        justify-content: center;
    }
    .container4
    {
        display: flex;
        flex-direction: column;

        height: 100vh;

        background-image: url('mobil-images/04.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-size: 100%;

        justify-content: center;
    }
    .head
    {
        margin-bottom: 300px;
    }

    .overlay
    {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        visibility: hidden;

        transition: opacity 500ms;

        opacity: 0;
        color: black;
        background: rgba(0, 0, 0, .7);
    }

    .overlay:target
    {
        visibility: visible;

        opacity: 1;
    }

    .popup
    {
        position: relative;
        top: 300px;
        left: 30px;

        display: flex;

        width: 75%;
        height: 180px;

        transition: all 2s ease-in-out;

        border: 4px solid #111;
        background: #000;
    }

    .popup .close
    {
        font-size: 30px;
        font-weight: bold;

        position: absolute;
        top: 1px;
        right: 10px;

        transition: all 200ms;
        text-decoration: none;

        color: #333;
    }

    .popup .content
    {
        display: block;
        overflow: auto;

        width: auto;
        margin: auto;
    }

    form
    {
        margin: 10px;
    }
    .signup-button
    {
        font-size: 3vw;

        width: 200px;

        border: none;
        background-color: #111;
    }

    .signup-button-div
    {
        display: flex;

        width: 200px;
        height: 40px;
        margin: 10px;

        text-align: center;

        border: 1px solid #fff;
        background-color: #111;

        justify-content: center;
    }


    .button
    {
        position: fixed;
        right: 10px;
    }
    .email-white
    {
        width: 200px;
        height: 40px;

        background-color: #111;
    }
    .head h1
    {
        font-size: 5vw;
        font-weight: bold;
    }
    .head p
    {
        font-size: 3vw;
    }
    .centered
    {
        display: none;
    }

    .open-slide-menu
    {
        position: fixed;
        top: 54px;
        right: 26px;

        float: right;

        margin-left: 50px;
    }

    .side-nav
    {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;

        overflow-x: hidden;

        width: 0;
        height: 100%;
        padding-top: 60px;

        transition: .5s;

        opacity: .9;
        background-color: #111;
    }

    .side-nav ul
    {
        font-weight: bold;

        position: relative;

        display: block;

        margin-bottom: 10px;

        list-style: none;

        transition: .3s;
        text-decoration: none;

        color: #111;
    }

    .side-nav ul li
    {
        margin: 20px;
    }

    .side-nav a
    {
        text-decoration: none;
    }
    .side-menu-Langauge
    {
        display: flex;

        padding-top: 300px;

        justify-content: center;
    }
    .side-menu-Langauge a
    {
        margin: 5px;

        text-decoration: none;
    }
    .side-nav a:hover
    {
        color: #fff;
    }

    .side-nav .btn-close
    {
        font-size: 36px;

        position: absolute;
        top: 20px;
        right: 30px;
    }

    .navbar-nav
    {
        display: none;
    }
}

@media(min-width:600px)
{
    #popup1,
    #side-menu,
    .button,
    .open-slide
    {
        display: none;
    }
    .navbar-nav
    {
        position: fixed;
        top: 0;
        right: 0;

        display: flex;

        width: 100%;
        padding-top: 64px;

        list-style: none;

        justify-content: flex-end;
    }
    .navbar-nav a
    {
        font-size: 14px;

        position: relative;

        display: flex;
        flex-direction: row;

        margin-right: 64px;
        padding-bottom: 5px;

        transition: height .3s linear;
        text-decoration: none;

        color: #f2f2f2;
    }
    .dropdown
    {
        position: fixed;
        top: 75px;
        right: 17px;

        display: none;
        visibility: hidden;

        padding: 10px;

        transition: background .2s linear;
        transition: all .5s ease;

        opacity: 0;
        color: aqua;
    }

    .dropdown a
    {
        display: block;
        clear: both;

        width: 100%;
        padding: 8px;

        text-align: center;
        text-decoration: none;

        color: #fff;
    }

    ul li:hover > ul,
    ul li ul:hover
    {
        display: block;
        visibility: visible;

        opacity: 1;
    }

    .active
    {
        border-bottom: 2px solid white;
    }
}

.footer
{
    display: flex;

    background-color: #000;

    justify-content: center;
}

.footer a
{
    font-size: 1.5vw;

    display: block;

    margin: 20px 20px;

    text-decoration: none;
}
