 /* Background color: #000A1D
    Background color hover: #00205A
    Font family: "aktiv-grotesk-std", sans-serif
*/

* {
  margin: 0;
  font-family: "aktiv-grotesk-std", sans-serif;
  box-sizing: border-box;
  color: #F3F3F3;
}

main {
  margin-top: -50px;
}

body {
  background: #111;
  width: 100vw;
  height: 2000px;
  position: relative;
}

.fotterLinks {
  text-decoration: none;
}

.fs {
  font-size: 200px;
}
.rotate {
  transform: rotate(90deg);
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 4;

}

.container {
   text-align: center;
   color: white;
   right: 0;
   left: 0;
   display: grid;
   grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
 }
 .img {
   width: 100%;
   height: 100vh;
   max-width: 1800px;
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 7;
 }

 .img2 {
   width: 100%;
   height: 100vh;
   max-width: 1800px;

 }
 /* Centered text */
 .centered {
   /* position: absolute;
   top: 70%;
   left: 40%; */
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 6;
   grid-row-end: 7;
   /* place-self: center; */
   align-self: center;
   padding-left: 120px;
 }
 .P {
   /* position: absolute; */
   /* top: 40%;
   left: 50%; */
   /* transform: translate(-50%, -50%); */
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 4;
   grid-row-end: 4;
 }
 h1 {
   font-size: 50px;
 }

  .centered .button1 {
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid white;
    background-color: black;
  }

  .centered .button2 {
    width: 300px;
    padding: 10px;
    border: 1px solid white;
    background-color: black;
  }

 .centered .button1 a {
   font-size: 30px;
   /* transform: translate(-50%, -50%); */
   text-decoration: none;
   color: white;
 }

 .centered .button2 a {
   font-size: 30px;
   /* transform: translate(-50%, -50%); */
   text-decoration: none;
   color: white;

 }

/* main {
  padding-top: 50px;
} */
 /* nav {
  position: fixed;
  max-width: 100%;
  width: 100%;
  font-family: "aktiv-grotesk-std", sans-serif;
} */



 /* New Navbar */
 /* * {
  box-sizing: border-box;
} */
 .menu li {
   display: flex;
   width: 100%;
   /* magic */
   align-self: center;
   /* opacity: 0; */
   /* visibility: hidden; */
 }

 .menu li a {
   width: 100%;
   text-align: center;
   color: white;
   align-self: center;
   align-content: center;
 }

 .menu {
   display: flex;
   flex-direction: row;
   max-width: 100%;
   height: 50px;
   margin: 0;
   padding: 0;
   list-style-type: none;
   transition: height .3s linear;
   justify-content: center;
   align-items: center;
 }

 .menu li a {
   font-size: 14px;
   padding: 14px 16px;
   transition: background .2s linear;
   text-decoration: none;
   align-self: center;
 }

 .dropdown {
   position: relative;
   display: inline-block;
 }

 .dropContent {
   position: absolute;
   z-index: 1;
   top: 40px;
   display: none;
   /* min-width: 160px; */
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
 }

 .link {
   font-size: 16px;
   padding: 16px;
   cursor: pointer;
   color: white;
   border: none;
 }

 .linkEffect:hover {
   border-bottom: 1px solid white;
 }

 .dropContent a {
   display: block;
   padding: 12px 16px;
   text-decoration: none;
   color: black;
   /* opacity: 1; */
 }

 .dropContent:hover,
 .dropdown:hover .dropContent {
   display: block;
 }

 .dropdown:hover .link {
   /* background-color: #00205A; */
 }

 .nav {
   top: 0;
   position: fixed;
   width: 100%;
   height: 50px;
   background-color: rgba(255,0,0,0);
 }

 .nav>.nav-header {
   display: inline;
 }

 .nav>.nav-header>.nav-title {
   font-size: 22px;
   display: inline-block;
   padding: 10px 10px 10px 10px;
   color: #fff;
 }

 .nav>.nav-btn {
   display: none;
 }

 .nav>.nav-links {
   font-size: 18px;
   display: inline;
   float: right;
 }

 .nav>.nav-links>a {
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
   /* color: #efefef; */
 }

 .nav>.nav-links>a:hover {
   background-color: rgba(0, 0, 0, .3);

 }

 .nav>#nav-check {
   display: none;
 }

 @media (max-width:600px) {
   .nav>.nav-btn {
     position: absolute;
     top: 0;
     right: 0;
     display: inline-block;
   }

   .nav>.nav-btn>label {
     display: inline-block;
     width: 50px;
     height: 50px;
     padding: 13px;
   }

   .nav>.nav-btn>label:hover {
     background-color: rgba(0, 0, 0, .3);
   }

   .nav>.nav-btn>label>span {
     display: block;
     width: 25px;
     height: 10px;
     border-top: 2px solid #eee;
   }

   .nav>.nav-links {
     position: absolute;
     top: 50px;
     left: 0;
     display: block;
     overflow-y: hidden;
     width: 100%;
     height: 0;
     transition: all .3s ease-in;
     background-color: #333;
   }

   .nav>.nav-links>a {
     display: block;
     width: 100%;
   }

   .nav>#nav-check:not(:checked)+.nav-links {
     height: 0;
   }

   .nav>#nav-check:checked+.nav-links {
     overflow-y: auto;
     height: calc(100vh - 50px);
   }
 }

 /* End New Navbar */
 /* Navbar */
 /* #checkbox1,
.toggle {
  display: none;
} */
 /*
@media screen and (max-width: 600px) {
  .menu li a {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .toggle {
    clear: both;
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #595959;
    /* background: #000A1D; */
 /* transition: all .1s linear;
    /* opacity: 0; */
 /* }

  /* Changes color when hovering the small menu */
 /* .toggle:hover {
    /* background: #000A1D; */
 /* opacity: 0; */
 /* }
*/
 /*
}

#checkbox1:checked+label .first li {
  opacity: 1;
  visibility: visible;
  transition: all .7s linear;
}

#checkbox1:checked+label .first {
  height: 200px;
} */
 /* Ändrar bakgrunden på navbaren */
 /* .first {
  /* background: #000A1D; */
 /* opacity: 0; */
 /* }

.first li a {
  color: #fff;
}

.first li a:hover {
  /* background: #00205A; */
 /* border-bottom: 1px solid white;
}

/* .click-link {
  background-color: aliceblue;
} */
 /* Navbar end*/
