 /* Background-color: #111111;
    Color: #F3F3F3;
    Font family: "aktiv-grotesk-std", sans-serif;
*/

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'aktiv-grotesk-std', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #f3f3f3;
}

body {
  position: relative;
  width: 100vw;
  background: #111;
}

.dropdown-link:hover{
  border-bottom: 1px solid #F3F3F3;
}

.logo {
  width: 50px;
  height: 64px;
}

.logo-img-desktop {
  position: fixed;
  top: 15px;
  width: 50px;
  height: 64px;
  margin: 24px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.footer {
  display: flex;
  background-color: #f3f3f3;
  justify-content: center;
}

.footer a {
  font-size: 16px;
  display: block;
  margin: 10px 20px;
  text-decoration: none;
  color: #00205a;
}

.container {
  right: 0;
  left: 0;
  display: grid;
  height: 100vh;
  margin: 0;
  text-align: center;
  color: white;
  grid-template-columns: 225px 3fr 225px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container2 {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.container3 {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-columns: 1fr 2fr 2fr 2fr 225px 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
}

.container4 {
  display: grid;
  height: 100vh;
  margin: 0;
  text-align: center;
  grid-template-columns: 225px 3fr 225px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container3 p {
  font-size: 30px;
}

.container3 .bold {
  font-size: 40px;
}

.watch {
  display: flex;
  flex-direction: column;
  width: 151px;
  height: 80px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  align-items: flex-end;
  transition: all .2s ease-in-out;
}

.watch:hover {
  transform: scale(1.15);
}

.glasses {
  display: flex;
  flex-direction: column;
  width: 151px;
  height: 80px;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
  align-items: flex-end;
  transition: all .2s ease-in-out;
}

.glasses:hover {
  transform: scale(1.15);
}

.bold {
  font-weight: bold;
}

.img {
  width: 100%;
  height: 100vh;
  grid-area: 1 / 1 / 7 / 4;
}

.img2 {
  width: 100%;
  height: 100vh;
  grid-area: 1 / 1 / 7 / 8;
}

.img3 {
  width: 100%;
  height: 100vh;
  grid-area: 1 / 1 / 6 / 5;
}

.img4 {
  width: 100%;
  height: 100vh;
  grid-area: 1 / 5/ 6 / 9;
}

.img5 {
  width: 100%;
  height: 100vh;
  grid-area: 1 / 1 / 7 / 4;
}

.fs {
  font-size: 250px;
  margin: 0;
  padding: 0;
  opacity: .1;
  justify-content: flex-start;
}

.about {
  font-size: 250px;
  margin: 0;
  padding: 0;
  opacity: .1;
  justify-content: flex-start;
}

.more {
  font-size: 250px;
  margin: 0;
  padding: 0;
  opacity: .1;
  justify-content: flex-start;
}

.logos {
  display: flex;
  margin-top: 80px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-content: center;
}

.logos2 {
  display: flex;
  margin-top: 80px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  justify-content: center;
}

.facebook {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-left: 4px;
  opacity: .4;
}

.facebook:hover {
  opacity: 1;
}

.in {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-left: 4px;
  opacity: .4;
}

.in:hover {
  opacity: 1;
}

.twitter {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-left: 4px;
  opacity: .4;
}

.twitter:hover {
  opacity: 1;
}

.instagram {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-left: 4px;
  opacity: .4;
}

.instagram:hover {
  opacity: 1;
}

.rotate {
  width: 225px;
  margin: 0;
  padding: 0;
  grid-area: 2 / 1 / 7 / 2 ;
  writing-mode: tb-rl;
}

.rotate2 {
  width: 225px;
  margin: 0;
  margin-top: 106px;
  padding: 0;
  grid-area: 1 / 1 / 6/ 2 ;
  writing-mode: tb-rl;
}

.rotate3 {
  width: 225px;
  margin: 0;
  margin-top: 123px;
  padding: 0;
  grid-area: 1 / 1 / 4 / 2 ;
  writing-mode: tb-rl;
}

.text {
  width: 360px;
  height: 169px;
  grid-area: 2 / 2 / 4 / 4;
}

.text p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 27px;
  letter-spacing: .5px;
}

/* Centered text */
.centered {
  grid-area: 5 / 2 / 7 / 3;
  align-self: center;
}

.centered2 {
  grid-area: 5 / 2 / 7 / 3;
  align-self: center;
}

.limited {
  font-size: 16px;
  margin-top: 10px;
}

.P {
  grid-area: 4 / 2 / 5 / 3;
}

.fast {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 5.7px;
}

h1 {
  font-size: 3.5vw;
  font-weight: bold;
}

.join {
  font-size: 25px;
}

.email {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

/* .enter {
  margin-right: 16px;
  height: 40px;
  width: 208px;
  background-color: #111;
  border: 1px solid #F3F3F3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */
.enter2 {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: center;
}

.email-white {
  font-size: 16px;
  width: 208px;
  height: 40px;
  margin-right: 16px;
  color: #f3f3f3;
  border: 1px solid #f3f3f3;
  background-color: #111;
}

.email-white::-webkit-input-placeholder {
  padding-left: 13px;
}

.email-red {
  font-size: 14px;
  visibility: hidden;
  margin-top: 6px;
  color: #c22626;
}

.signUp {
  visibility: hidden;
}

.centered .button1 {
  font-size: 16px;
  width: 83px;
  height: 39px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  grid-area: 6 / 4 / 7 / 5;
}

.centered2 .button1 {
  width: 83px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  grid-area: 6 / 4 / 7 / 5;
}

.centered .button1 a {
  font-weight: normal;
  text-decoration: none;
  color: black;
}

.centered2 .button1 a {
  text-decoration: none;
  color: black;
}

@media(max-width:600px)
{
    .logo-img-desktop {
      display: none;
    }

    .footer {
      display: none;
    }

    .img,
    .img2,
    .img3,
    .img4,
    .img5 {
      display: none;
    }

    .centered,
    .centered2 {
      display: none;
    }

    .logos,
    .logos2 {
      display: none;
    }

    .rotate,
    .rotate2,
    .rotate3 {
      display: none;
    }

    .glasses,
    .watch {
      display: none;
    }

    .logo-img {
      position: fixed;
      width: 100px;
      height: 90px;
      margin-left: 20px;
    }

    .plus-popup {
      padding: 10px;
      border: 1px solid #92ffff;
      border-radius: 100px;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      background-image: url('mobil-images/studioPortrait.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-size: 100%;
      justify-content: center;
    }

    .container2 {
      display: flex;
      height: 100vh;
      background-image: url('mobil-images/Motorbike.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-size: 100%;
      justify-content: center;
    }

    .container3 {
      display: flex;
      flex-direction: column;
      height: 50vh;
      background-image: url('mobil-images/Glasses.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-size: 100%;
      justify-content: center;
    }

    .container4 {
      display: flex;
      flex-direction: column;
      height: 50vh;
      background-image: url('mobil-images/Watch.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-size: 100%;
      justify-content: center;
    }

    .container5 {
      display: flex;
      flex-direction: column;
      height: 100vh;
      background-image: url('mobil-images/04.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      background-size: 100%;
      justify-content: center;
    }

    .P {
      margin-bottom: 400px;
    }

    .P h1 {
      font-size: 9vw;
      font-weight: bold;
    }

    .fast {
      font-size: 4vw;
      font-weight: lighter;
      margin-top: 10px;
      letter-spacing: 5.7px;
    }

    .text {
      display: flex;
      width: 275px;
      height: 247px;
      margin-top: 17vw;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .text p {
      font-size: 16px;
      font-weight: lighter;
      line-height: 26px;
      letter-spacing: 0.5px;
      display: flex;
    }

    .footer-text {
      display: visible;
      margin-bottom: 35vw;
      margin-left: 9vw;
    }

    .footer-text h3 {
      font-size: 23vw;
      font-weight: bold;
    }

    .footer-text p {
      font-size: 10.5vw;
      font-weight: lighter;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      visibility: hidden;
      transition: opacity 500ms;
      opacity: 0;
      color: black;
      background: rgba(0, 0, 0, .7);
    }

    .overlay:target {
      visibility: visible;
      opacity: 1;
    }

    .popup {
      position: relative;
      top: 300px;
      left: 12vw;
      display: flex;
      width: 75%;
      height: 180px;
      transition: all 2s ease-in-out;
      border: 4px solid #111;
      background: #000;
    }

    .popup .close {
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      top: 1px;
      right: 10px;
      transition: all 200ms;
      text-decoration: none;
      color: #333;
    }

    .popup .content {
      display: block;
      overflow: auto;
      width: auto;
      margin: auto;
    }

    .email-white {
      margin: 0;
    }

    .signup-button {
      color: black;
      height: 40px;
      width: 208px;
      font-size: 3vw;
    }

    .signup-button-div {
      background-color: #fff;
      height: 40px;
      width: 208px;
      margin-top: 5px;
      color: black;
    }

    .button {
      position: fixed;
      top: 650px;
      right: 10px;
    }

    form {
      margin: 10px;
    }

    .open-slide-menu {
      position: fixed;
      top: 35px;
      right: 26px;
      float: right;
      margin-left: 50px;
    }

    .side-nav {
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      overflow-x: hidden;
      width: 0;
      height: 100%;
      padding-top: 60px;
      transition: .5s;
      opacity: .9;
      background-color: #111;
    }

    .side-nav a {
      margin: 20px 20px;
      transition: .3s;
      text-decoration: none;
    }

    .side-nav .nav-link-m {
      font-size: 16px;
      font-weight: lighter;
      letter-spacing: 0.2px;
      position: relative;
      display: block;
      max-width: 170px;
      margin: 30px 30px;
      text-decoration: none;
      padding-bottom: 10px;
      border-bottom: 1px solid #F3F3F3;
      color: #ccc;
    }

    .side-menu-Langauge {
      display: flex;
      margin-top: 70px;
      justify-content: center;
    }

    .side-nav a:hover {
      color: #fff;
    }

    .side-nav .btn-close {
      font-size: 36px;
      position: absolute;
      top: 0;
      right: 10px;
    }

    .navbar-nav {
      display: none;
    }

    .saab-text {
      display: flex;
      margin-top: 5px;
      justify-content: center;
      font-size: 12px;
      letter-spacing: 0.15px;
      font-weight: lighter;
    }

    hr {
      margin-top: 17px;
    }

    .logo {
      height: 100px;
      margin-top: 150px;
      padding-bottom: 40px;
    }

    .logos-1 {
      display: flex;
      margin-bottom: 10px;
      padding-left: 77px;
    }

    .logos-2 {
      display: flex;
      padding-left: 77px;
    }

    .saab {
      display: flex;
      justify-content: center;
    }

    .saab img {
      width: 70px;
      height: 70px;
    }
}

@media(min-width:600px)
{
    .footer-text
    {
      display: visible;
    }

    #popup1,
    .button,
    .saab,
    .saab-text,
    .logo,
    hr,
    .footer-text {
      display: none;
    }

    .navbar-nav {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      width: 100%;
      padding-top: 64px;
      list-style: none;
      justify-content: flex-end;
    }

    .navbar-nav a {
      font-size: 14px;
      position: relative;
      display: flex;
      flex-direction: row;
      margin-right: 64px;
      padding-bottom: 5px;
      transition: height .3s linear;
      text-decoration: none;
      color: #f2f2f2;
    }

    .side-nav .btn-close,
    .side-nav a,
    .open-slide {
      display: none;
    }

    .dropdown {
      position: fixed;
      top: 84px;
      right: -10px;
      text-align: center;
      display: none;
      visibility: hidden;
      padding: 10px;
      transition: background .2s linear;
      transition: all .5s ease;
      opacity: 0;
      color: aqua;
    }

    .dropdown a {
      display: block;
      clear: both;
      width: 50%;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      color: #fff;
    }

    ul li:hover > ul,
    ul li ul:hover {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    .active {
      border-bottom: 2px solid white;
    }

    .footer-text {
      display: none;
    }

    .logo-img {
      display: none;
    }
}
